# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=34
    - CONDA_PY=35
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "ps3CI13ZIRheLg0Qg8RQUujUsZ70jYN9mNmeTRUmqjvvwSiT+eP7/F9Xn7K6yKsh+3Xl/LDdLGtvs9h5KkUnA4bNMbqcSLnvJIW5cU8hm9XXH8IN1q81r3X3Io+toLFyFyp3/HGeReK2SHJWiitUUqijDeCWjkgQ2o8FTn9pxtiN6toNx3LGGkt5VQ/sAUl90jTttKT75W3AOHB58eoTonKxTOA8V0+Kr0aD2wdFJYqNKgHgFyBDoHWPzkYdGX7x+czfqzArj8zTCrOZcEcc5vMxeWY9qtKQsMbDYlkcZClzHQgDgtzr03xqCOC83nlEVZjJxeUCTjr77i35pmhCDtp7VIP1HITYjoTEf//xCNUHVcPflzurutt8vT6D3nVbR4ECPwgv2D35mz0E1/Y7wImXfkYazBnfoxfp4rFYN/68an0G0+0BIImmZBakTyO58RPvRs0KGbSlWVyLZ+yUhiUDN+RFlFpX/i1s1SOZ+o1mWs+jLuE4ncrN2CehA5V2uFM2dvH+OHzIDZcIvgL4iRUNz0Nx71uiZnwHM79/g1364jyxM+SvBunvlyjlu7c++nyRq+RL4G2RaWm3FW5NqtkLnXJvTxvY8I9xlMYl/LaQfllbSsaYBlTTkbU7TxCt62wz24au/GEBjVC8afw5lixKOd3+5I+RUZ8j9/nn2R8="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
